# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
HighTide_UnityProject/MapImport.sln
HighTide_UnityProject/.vsconfig
HighTide_UnityProject/Assembly-CSharp.csproj
HighTide_UnityProject/HighTide_UnityProject.sln
HighTide_UnityProject/Library/
HighTide_UnityProject/UserSettings/
